In [1]:
import pandas
dt = pandas.read_csv('flavour.csv')
dt

    Age  Gender             Flavour
0     6    Male           Chocolate
1     6  Female          Strawberry
2     7    Male           Chocolate
3     8  Female          Strawberry
4    11    Male        Butterscotch
5    10  Female        Butterscotch
6    12    Male        Butterscotch
7    14  Female             Vanilla
8    15    Male               Mango
9    15  Female             Vanilla
10   17    Male               Mango
11   16  Female        Butterscotch
12   19    Male  Almond & Chocolate
13   18  Female        Butterscotch
14   20    Male  Almond & Chocolate
15   20  Female        Butterscotch
16   21    Male               Coffe
17   22  Female               Coffe
18   24    Male  Almond & Chocolate
19   24  Female               Coffe

In [4]:
from sklearn.preprocessing import LabelEncoder
Enc = LabelEncoder()
Enc.fit(['Male','Female'])

LabelEncoder()

In [5]:
dt['Gender'] = Enc.transform(dt['Gender'])
dt

    Age  Gender             Flavour
0     6       1           Chocolate
1     6       0          Strawberry
2     7       1           Chocolate
3     8       0          Strawberry
4    11       1        Butterscotch
5    10       0        Butterscotch
6    12       1        Butterscotch
7    14       0             Vanilla
8    15       1               Mango
9    15       0             Vanilla
10   17       1               Mango
11   16       0        Butterscotch
12   19       1  Almond & Chocolate
13   18       0        Butterscotch
14   20       1  Almond & Chocolate
15   20       0        Butterscotch
16   21       1               Coffe
17   22       0               Coffe
18   24       1  Almond & Chocolate
19   24       0               Coffe

In [6]:
X = dt.drop(columns=['Flavour'])
Y = dt.drop(columns=['Age','Gender'])

In [7]:
from sklearn.tree import DecisionTreeClassifier
CModel = DecisionTreeClassifier()
CModel.fit(X,Y)

DecisionTreeClassifier()

In [9]:
age = 18
gender = Enc.transform(['Male'])
CModel.predict([[age,gender]])

array(['Mango'], dtype=object)

In [10]:
def flav_pred():
    age = int(input("Age:"))
    gen = input("Gender:").capitalize()
    gender = Enc.transform([gen])
    flav = CModel.predict([[age,gender]])
    print("Recomended Flavour:",flav[0])

In [12]:
flav_pred()

Age:20
Gender:female
Recomended Flavour: Butterscotch